@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap");
html {
}

body {
  font-family: "Playfair Display", serif;

  margin-left: auto;
  margin-right: auto;
}
#home, #contato {
  background-image: linear-gradient(
      to bottom,
      rgba(5, 5, 5, 0.918),
      rgba(51, 34, 15, 0.849)
    ),
    url(/images/Cafe-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f5faf5;
  line-height: 3em;
}

header {
  color: #f5faf5;
  text-align: center;
  width: 100%;
  display: block;
}

.navbar {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.nav-itens {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #f5faf5;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 2em;
  padding-bottom: 20%;
  width: 70%;

}

#titulo {
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  font-size: 3em;
  font-weight: 550;
  margin-bottom: 0.5em;
  width: 100%;
  line-height: 1em;
}

#banner {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  margin-bottom: 10%;
}

.media {
  text-align: justify;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: linear-gradient(
      to bottom,
      rgba(252, 250, 247, 0.562),
      rgba(20, 16, 9, 0.9)
      
    ),
    url(images/pexels-jessica-lewis-creative-606545.jpg);
  background-size: cover;
  color: #030303d3;
  font-size: 1.2em;
}

#video {
  display: block;
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 2%;
}
#mapa {
  display: block;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 2%;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 550;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.texto {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 1.5em;
  line-height: 1.5em;
}
.localizacao{
  background-image: linear-gradient(
    to bottom,
    rgba(82, 56, 32, 0.5),
    rgba(255, 255, 255, 0)
  ),
  url(images/localizacao.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position-x: center;

}
.local {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #f5faf5;
  font-size: 1.5em;
  line-height: 1.5em;
 
}

footer {
  color: white;
  margin-top: 25%;
  text-align: center;
}
.cardapio {
  background-image: linear-gradient(
      to bottom,
      rgba(82, 56, 32, 0.5),
      rgba(255, 255, 255, 0)
    ),
    url(images/vintage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}


#tabela{
  width: 70%;
  margin: 5% auto 0 auto;

}

table{
  width: 100%;
  ;
}

.tituloCardapio{
  padding: 10px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: white;
  margin-bottom: 2%;
}
#tituloCardapio{
  margin: 2% auto 5% auto;
}

.legendaTabela{
  background-color: rgba(54, 28, 4, 0.8);
  color: white;
  text-align: center;
}

.itenstabela{
  text-align: center;
  padding: 5px 0px;
  font-size: 1.3em;
  color: white;
}

table, td{
  vertical-align: middle;
  padding: 5px;
  margin: 1%;
  
}

.trCorSim{
  background-color: rgba(250, 248, 246, 0.4);
}

.trCorNao{
  background-color: rgba(114, 62, 10, 0.4);
}


.fototabela{
  width: 20%;
}


.strong{
    font-weight: bolder;
}

.em{
  font-size: 1em;
}

.descricaoTabela{
  text-align: center;
  color: white;
  background-color: rgb(58, 28, 4);
}
-------------------------------------------

.container{
  display: block;
  width: 30%;
  margin-left: 20px;
  margin-right: auto;
  text-align: center;
  font-size: 2.4rem;
  line-height: 0.5;
  color: whitesmoke;
  border: 5px;
  border-style: double;
     
}


#title{
  font-size: 3em;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

#FaleConosco{
  text-align: justify;
  font-size: 2rem;
  font-weight: 100;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
  
  border-radius: 5px;
}
#Comentarios{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.form-group{
  width: 60%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;  
  height: auto;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 1.5rem;
}

.label{
  font-size: 2rem;
}

#name, #email,#sugestao{
  margin-left: auto;
  margin-left: auto;
  width: 80%;
  height: auto;
  text-align: justify;
  height: auto;
  padding:2rem 1rem  2rem 1rem;
  font-size: 1rem;
}

#submit{
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  width: 30%;
  padding: 1rem;
  background-color: rgb(124, 73, 11);
  color:rgb(255, 255, 255)
}